header.header 
  .header_column.headerLogo
    a(href=routes.home)
      i.fab.fa-youtube
      span MyTube
  .header_column.headerFormContainer
    form(action=routes.search, method="get",)
      input(class="headerInput" type="text" placeholder="Search by term...",name="term")
      i.fas.fa-search
      //링크처리 안되있음 
        
  .header_column.joinLogin
    ul    
      if !user.isAuthenticated
        li 
          a(href=routes.join) Join 
        li
          a(href=routes.login) Log In
      else 
        li 
          a(href='/videos'+routes.upload) Upload 
        li 
          a(href=routes.userDetail(user.id)) User Detail
        li 
          a(href=routes.logout) Log Out